#gallery-controls {
	margin:16px 0;
}

.thumb-title {
	background-color:rgba(0,0,0,0.6);
	color:#FFF;
	padding:2px 6px;
}

.checked-for-deletion {
	border:solid 2px #F00 !important;
}

.submission-type {
	position: absolute; 
	right: 15px;
	bottom: 15px;
	background: rgba(0,0,0,0.5);
	font-size: 1.5em;
	padding: 10px;
	margin: 10px 7px;
	border-radius: 100px;
}

.submission-item {
	background: transparent none 50% 50% / cover no-repeat;
	display: block;
	height: 224px;
	padding: 0 !important;
	text-decoration: none !important;
}

.thumb-checkbox {
	background-color:rgba(64,0,0,0.6);
	color:#FFF;
	padding:6px;
	display:block;
	text-decoration: none !important;
}