.navbar a {
	margin-left:0 !important;
	margin-right:0 !important;
}

.navbar li.header a {
	font-weight: bold;
	padding: 6px 10px;
	font-size: 10pt;
}

.iconusername img {
	max-width: 64px;
	max-height: 64px;
}

.small-thumb {
	width:42px;
	margin:2px;
}

.medium-thumb {
	width: 72px;
	margin: 2px;
}

.sfw-toggled {
	background-color:rgba(0,0,0,0.2);
}

#user-banner {
	height: 148px;
	background: transparent 50% 25% / cover no-repeat;
	box-shadow: inset 0 -24px 64px rgba(0,0,0,0.3), inset 0 72px 0 rgba(255,255,255,0.15), inset 0 45px 72px rgba(255,255,255,0.25);
	padding: 16px;
	text-align: right;
}

#user-banner-link {
	color: #FFF;
	font-weight: bold;
	background-color: rgba(0,0,0,0.6);
	padding: 4px;
	opacity: 0.6;
}

.contain-hover {
	background-color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 116px;
}

.watch-thumb {
	width: 100%;
	height: 60px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}